@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 31);
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 60%;
  max-width: 800px;
  height: auto;
  padding: 15px;
  margin: 100px auto;
  min-height: 400px;
  background-color: rgb(225, 225, 225);
  border-radius: 1rem;
}